# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#directories
/.idea/
/.vscode/
/SEM 5/INP/Experiments/EXP7
/SEM 5/INP/Experiments/EXP8
/SEM 5/INP/Experiments/EXP9
/SEM 5/INP/Experiments/EXP10
/SEM 5/INP/Experiments/EXP11
/SEM 5/INP/Experiments/EXP12
/SEM 5/INP/Assignments/Assignment 1


